.dropdown {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,.075);
  color: #2F445C;
  display: none;
  margin: 0;
  min-width: 170px;
  outline: none;
  padding: 10px 0;
  position: absolute;
  right: -8px;
  top: 32px;
  z-index: 1;
}

.dropdown--open {
  display: block;
}

.dropdown__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 4px 14px;
}

.dropdown__item:hover {
  background-color: #F8F8F8;
}
