.add-content-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #fdfdfd;
  font-size: 16px;
  padding: 4px 6px;
  text-align: left;
  width: 100%;
}

.add-content-button:hover {
  background-color: rgba(255,255,255,0.4);
}

.add-content-button--save {
  background-color: #038992;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  padding: 8px;
  text-align: center;
}

.add-content-button--save:hover {
  background-color: #04a0ab;
}


.add-content-button--dark {
  color: #403e3b;
}

.add-content-button--dark:hover {
  background-color: #d1d1d1;
}


.add-content-button--dark,
.close-button--dark {
  color: #403e3b;
}
